/*@import url('letter-gothic-std');*/

@font-face {
    font-family: "letter-gothic-std";
    src: url("./letter-gothic-std/LetterGothicStd.otf");
}


* {
    margin:0;
    padding:0;
}


/* Header */

#cabecera{
    font-family: letter-gothic-std, monospace;
    margin: auto 0 auto 0;
    background-color: white;
    
    z-index: 99;
    
    position: fixed;
    top: 0px;
    height: max-content;
    width: 100%;
}

#titular{
    display:flex;
    height: 100px;
    transition: 0.8s;
    padding-left: 5%;
    /*background-color: #ECF8FF;*/
    background-color: white;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #bbb;
}


#nidito{
    background-image: url(nido.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(0.8);
    
    margin: auto 0 auto 100px;
    width: 110px;
    height: 80px;
    
    transition: 1s;
}

#titular h1 {
    letter-spacing: 2px;
    font-size: 1.4rem;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    
    transition: 0.8s;
    display: inline;
}

#titular h1 a{
    text-decoration: none;
    color: #333;
    margin: 0px;
}





/* Nav */

.nav{
    font-family: letter-gothic-std, monospace;
    background-color: #BDDDF2;
    border-top: 2px solid rgba(0,0,0,.15);
    border-bottom: 2px solid rgba(0,0,0,.15);
    
    transition: 0.8s;
    display: flex;
    justify-content: space-around;
    padding: 0 20%;
    align-items: center;
    font-size: 0.9em;
    
    height: 30px;
}


.nav_link{
    text-decoration: none;
    color: #333;
}


.sub_nav{
    border-left: 5px solid #BDDDF2;
}

.sub_nav_btn {
    padding: 1vh;
}

.sub_nav_btn:hover {
    padding: 1vh;
    background-color: azure;
}


.tippy-box[data-theme~='menu'] {
    background-color: #f0ffffaa;
    font-size: 1rem;
    font-family: letter-gothic-std, monospace;
    text-decoration: none;
    color: #333;
    /*border: 2px solid rgba(0,0,0,.15);*/
    padding: 4%;
    width: 300px;
}

.tippy-content{
    width: max-content;
}
