/* Texto */

/*body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar {
    background-color: lavender;
}*/

#titulo{
    background-image: url(fotos/cam_4.jpg);
    background-blend-mode: color-dodge;
    background-color: #fff8f1aa;
    background-size: 200%;
    background-position: 100% 65%;
}



