/* Bienvenida */

#proximamente {
    position: absolute;
    top: 300px;
    /*grid-row: 3;*/
    width: 100%;
    justify-content: space-around;
    display: flex;
}

#img_anido{
    margin: auto;
    
    background-image: url(anido.png);
    background-size: contain;
    background-repeat: no-repeat;
}
