@font-face {
    font-family: "letter-gothic-std";
    src: url("./letter-gothic-std/LetterGothicStd.otf");
}

#titulo{
    padding: 5vw;
}

.subtitulo{
    text-align: right;
    background-image: url(nido.png);
    background-blend-mode: color-dodge;
    background-color: #ffffffe0;
    background-size: 200%;
    background-position: center;
    border-top: 5px black;
}
