
<style>

#creditos{
    position: relative;
    font-family: letter-gothic-std, monospace;
    font-size: 0.9em;
}

#equipo{
    position: absolute;
    top: 10px;
    left: 10px;

    width: 60vw;
    background-color: #fff8f1ad;
    padding: 10px;
}

#equipo > p {
    margin: 1px;

}

.nombre{
    font-style: italic;
    font-weight: bold;
    font-family: letter-gothic-std, monospace;
}


#agradecimientos {
    position: absolute;
    bottom: 60px;
    right: 10px;

    width: 30vw;
    padding: 10%;
    background-color: #fffaf5e0;
    padding: 10px;
    text-align: right;
    font-family: letter-gothic-std, monospace;
}

#agradecimientos > .nombre > p {
    margin: 1px;
    font-family: letter-gothic-std, monospace;
}

</style>

<div id="creditos">
    <div id="img_1" class="img_articulo" style="--origen: url(/static/blog/fotos/cam19/cam_3.jpg); margin: 0px;">
        <img src="/static/blog/fotos/cam_3.jpg" class="sizer" />
    </div>


    <div id="equipo">
        <p>Equipo de trabajo:</p>
        <p><span class="nombre">Ma. Eugenia Peirone.</span> Prof. y Lic. en Ciencias de la Educación.</p>
        <p><span class="nombre">Sebastián Rojo.</span> Artista y Docente en Malabares. Investigador de prácticas de presencia en escena.</p>
        <p><span class="nombre">Vladimir Charkot.</span> Artista y Docente en Malabares. Estudia organización de sistemas.</p>
    </div>

    <div id="agradecimientos">
        <p>Agradecimientos especiales a:</p>

        <span class="nombre"><p>Tomás Sokolowsky</p></span>
        <span class="nombre"><p>Emerson Rodríguez Silva</p></span>
        <span class="nombre"><p>Guillermo Leoni</p></span>
        <span class="nombre"><p>Tere Dávila</p></span>
        <span class="nombre"><p>Craig Quat</p></span>
        <span class="nombre"><p>Gabriela Rojo</p></span>
        <span class="nombre"><p>Gonzalo Borgogno</p></span>
        <span class="nombre"><p>Luciana Balangione</p></span>
    </div>

</div>
