/*@import url('letter-gothic-std');*/

@font-face {
    font-family: "letter-gothic-std";
    src: url("./letter-gothic-std/LetterGothicStd.otf");
}


* {
    margin:0;
    padding:0;
}

#menu {
  font-family: letter-gothic-std, monospace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  padding: 10px 30px;
  box-sizing: border-box;
  transition: .3s;
  z-index: 99;
  background: rgba(255,255,255,0.95);
  /*background: linear-gradient(0deg, rgba(255,255,255,0.6), rgb(255, 255, 255));*/
  border-bottom: 1px solid #f797a7;
}

#menu.contraido{
  height: 50px;
}

#menu.contraido .logo{
  height: 35px;
  padding: 0;
}

#menu.contraido ul {
  opacity: 0;
  height: 20px;
}

#menu.contraido h1 {
  opacity: 0;
  visibility: hidden;
}

#menu .logo {
  padding: 22px 20px;
  /*height: 80px;*/
  float: left;
  transition: .3s;
}

#menu ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  transition: .3s;
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  line-height: 100px;
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

#menu ul li a:focus{
  outline: none;
}

#menu ul li a.seleccionado{
  background: #E247;
  color: #fff;
  border-radius: 6px;
}

.submenu{
	 visibility: hidden;
	 opacity: 0;
	 position: absolute;
	 padding-left: 0;
	 right: 0;
	 /*display: none;*/
	 background: white;
	 transition: .3s;
}

#menu ul li:hover > ul, .submenu:hover {
	 visibility: visible;
	 opacity: 1;
	 /*display: block;*/
	 min-width: 250px;
	 text-align: left;
	 padding-top: 20px;
	 box-shadow: 0px 3px 5px -1px #ccc;
}

#menu ul li a:hover .submenu{
	visibility: visible;
	opacity: 1;
}

h1{
  letter-spacing: 0.2em;
  display: inline-block;
  max-width: 30vw;
}

h1 a{
  text-decoration: none;
  line-height: 100px;
  color: black;
  opacity: 1;
  transition: .3s;
}

#nidito{
    background-image: url(/static/blog/imagenes/nido.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(0.8);

    margin: auto 0 auto 30px;
    width: 110px;
    height: 80px;

    transition: .3s;
}


.tippy-box[data-theme~='menu'] {
    background-color: #f0ffffaa;
    font-size: 1rem;
    font-family: letter-gothic-std, monospace;
    text-decoration: none;
    color: #333;
    /*border: 2px solid rgba(0,0,0,.15);*/
    padding: 4%;
    width: 300px;
}

.tippy-content{
    width: max-content;
}
