


#menu.nocturno{
    background-color: black;
    border-bottom: 1px solid #913600;
}

#menu.nocturno h1 a {
    color: white;
}

#menu.nocturno > ul li a {
    color: white;
}

#nidito.nocturno{
    background-color: #b74400;
    background-blend-mode: color-burn;
}

.submenu.nocturno{
    background-color: #4a4a4a;
}

.articulo.nocturno {
    background-color: black;
    color: #b74400;
}

body.nocturno {
    background-color: black;
}

#titulo.nocturno{
    background-color: #26160cbf;
}

#contenido.nocturno{
    background-color: black;
    color: aliceblue;
}

h3.nocturno{
    background-color: #401800;
}

.img_articulo.nocturno{
    background-color: #752b00;
}