/* Texto */

#titulo{
    background-image: var(--imagen_titulo);
    background-blend-mode: color-dodge;
    background-color: var(--color_titulo);
    background-size: 200%;
    background-position: center top;
}

h3{
    background-image: var(--imagen_seccion);
    background-blend-mode: color-dodge;
    background-color: #ffffffe0;
    background-size: 200%;
    background-position: top center;
    font-family: 'DM Mono';
    letter-spacing: 0.5vw;
    padding: 4vw;
    padding-right: 16vw;
}

.img_articulo{
    padding: 5px 10%;
    margin: 50px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color_filtro);
    background-image: var(--origen);

    filter: blur(1px) brightness(2);
    background-blend-mode: luminosity;
    
}

.sizer{
    visibility: hidden;
    width: 100%;
}




/* Tooltip referencias */

.ref{
    font-size: 0.8rem;
    font-family: 'Jost', sans-serif;
    color: black;
    max-width: 50vw;
}

.tippy-box[data-theme~='azure'] {
    background-color: #f0fffffb;
    border: solid 3px #BDDDF2;
    padding: 4%;
    /*max-width: 30vw;*/
}
.tippy-box[data-theme~='azure'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #BDDDF2;
}
.tippy-box[data-theme~='azure'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #BDDDF2;
}

.tippy-content {
    width: auto;
}




/* Medidas de pantalla de celular */

/*
@media (width < 1000px){
    .texto_box { margin: 0px; }
    .texto_box { font-size: 2em; }
    .biblio-lista{ margin: 0 2%; }
}*/


@media only screen
and (max-device-width: 800px){
    /* Asegurarse de que en celular se entienda que las referencias son clickeables: */
    .ref { color: blue; text-decoration: underline; }

    /* Tamaño de fuente más grande */
    .tippy-box[data-theme~='azure'] { font-size: 1.2rem }
    
    #agradecimientos{ font-size: 1.2rem; }
    #agradecimientos{ font-size: 1.2rem; }
    #equipo{ font-size: 1.2rem; }

}



