<div id="contenido" style="--color_filtro: #f7d9b2; --imagen_seccion: url({{ articulo.imagen_titulo }});">

    <div id="titulo" style="--imagen_titulo: url({{ articulo.imagen_titulo }}); --color_titulo: #fff8f1aa;">

        <h2>{{ articulo.titulo }}</h2>
        {% if articulo.pdf %}
        <div id="descarga">
            <a href="{{ articulo.pdf.link }}" download="{{ articulo.pdf.nombre }}"><img id="descargar_pdf"
                                                                                        src="/static/blog/pdf.svg"/></a>
        </div>
        {% endif %}
    </div>

    <p id="intro">{{ articulo.intro }}</p>

    {% if articulo.caratula %}
    <div id="caratula">

        {% include articulo.caratula %}

    </div>
    {% endif %}


    {% for seccion in articulo.secciones %}
        <!--<div class="titulo_seccion">-->
        <div class="subtitulo" style="--imagen_seccion: url({{ seccion.imagen }})">
            <h3>{{ seccion.titulo }}</h3>
        </div>

        {% for elemento in seccion.elementos %}

            {% if elemento.clase == "parrafo" %}
            <div class="parrafo">
                {{ elemento.texto }}
            </div>
            {% endif %}

            {% if elemento.clase == "cita" %}
            <div class="cita">
                {{ elemento.texto }}
                <p class="firma">— {{ elemento.autor }}</p>
            </div>
            {% endif %}

            {% if elemento.clase == "imagen" %}
            <div id="img" class="img_articulo" style="--origen: url({{ elemento.origen }});"><img src="{{ elemento.origen }}" class="sizer" /></div>
            {% endif %}

            {% if elemento.clase == "despedida" %}
                <div id="despedida">
                    {{ articulo.despedida }}
                    <p id="gracias">GRACIAS</p>
                </div>
            {% endif %}


        {% endfor %}

    {% endfor %}

    <p class="firma-final">Colectivo A-Nido</p>

    {% if extras %}
        {% for extra in extras %}
            {% include extra %}
        {% endfor %}
    {% endif %}

</div>