
<link href="/static/blog/css/cabecera.css" rel="stylesheet">

<nav  id="menu">
  <div id="titular">
    <div id="nidito" class="logo" onclick="cambiar_skin()">
      <!--<image source="/static/blog/imagenes/nido.png" class="sizer" style="height: 120px;"></image>-->
    </div>
    <h1><a href="https://www.colectivoanido.com/" title="Colectivo A-Nido" rel="home">Colectivo A-Nido</a></h1>
  </div>

  <ul>
    <li><a id="nosotres" href="#">Nosotres</a>
      <ul class="submenu" style="right: 34vw;">
        <li><a href="/nosotres/integrantes/">Integrantes</a></li>
        <li><a href="/nosotres/nido/">El nido</a></li>
      </ul>
    </li>
    <li><a id="proyectos" href="#">Proyectos</a>
      <ul class="submenu" style="right: 22vw;">
        <li><a href="/proyectos/piirspec/">Piirspec</a></li>
        <li><a href="/proyectos/piirspec/cam2019/">CAM-2019</a></li>
        <li><a href="/proyectos/piirspec/craig/">Entrevista Craig</a></li>
        <li><a href="/proyectos/cronicas/">Crónicas</a></li>
      </ul>
    </li>
    <li><a id="contribuir" href="/contribuir/">Contribuir</a></li>
    <li><a id="lecturas" href="/lecturas/">Lecturas</a></li>
  </ul>
 </nav>

<script type="text/javascript">

      window.addEventListener('scroll', function(){
        if (document.documentElement.scrollTop < 40){
          console.log('Top');
          document.querySelector('#menu').classList.remove('contraido');
        }
        else {
          console.log('Notop');
          document.querySelector('#menu').classList.add('contraido');
        }
      })

      if (window.location.href.includes('nosotres')) document.querySelector('#nosotres').classList.add('seleccionado');
      if (window.location.href.includes('proyectos')) document.querySelector('#proyectos').classList.add('seleccionado');
      if (window.location.href.includes('contribuir')) document.querySelector('#contribuir').classList.add('seleccionado');
      if (window.location.href.includes('lecturas')) document.querySelector('#lecturas').classList.add('seleccionado');

      function cambiar_modo(modo){

        const elems = ['#menu', '#nidito', '.submenu', '.articulo', 'body', '#titulo', '#contenido'];

        for (var i = 0; i < elems.length; i++){
          var ces = document.querySelectorAll(elems[i]);

          if (modo == "nocturno"){
            for (var j = 0; j < ces.length; j++)
              ces[i].classList.add("nocturno");
          }

          if (modo == "diurno"){
            for (var j = 0; j < ces.length; j++)
              ces[i].classList.remove("nocturno");
          }

        }

      }


      window.modo = "diurno";

      function cambiar_skin(){
        console.log('Modo: ', window.modo);

        if (window.modo == "diurno"){
          cambiar_modo("nocturno");
          window.modo = "nocturno";
          return;
        }


        if (window.modo == "nocturno"){
          cambiar_modo("diurno");
          window.modo = "diurno";
          return;
        }

      }


</script>

