
<!DOCTYPE html>
<meta charset="utf-8" />
<html>
    <head>
        <title>Colectivo A-Nido</title>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;1,200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&amp;display=swap" rel="stylesheet">
        <link href="/static/blog/cabecera.css" rel="stylesheet">
        <link href="/static/blog/anido.css" rel="stylesheet">
        <link href="/static/blog/contribuir.css" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/blog/favicon.png">
    </head>
    
    <body>
        
        <div class="container">
            
            
            <!-- Cabecera -->
            <div id="cabecera">
                
                <div id="titular">
                    <div id="nidito"><image source="/static/blog/nido.png" class="sizer" style="height: 120px;"></image></div>
                    <h1><a href="https://www.colectivoanido.com/" title="Colectivo A-Nido" rel="home">Colectivo A-Nido</a></h1>
                </div>
                
                <div id="nav" class="nav"></div>
                
            </div> <!-- Cierra cabecera -->
            
            <!-- Tooltips y referencias -->
            <script src="https://unpkg.com/@popperjs/core@2"></script>
            <script src="https://unpkg.com/tippy.js@6"></script>
            <script src="/static/blog/menu.js"></script>
            <script src="/static/blog/scroll.js"></script>
            
            
            <div id="contenido">
                
                <div class="subtitulo">
                    <h5>Contribuir</h5>
                </div>
                
                <div class="parrafo">
                    <p>Hasta tanto se prepare la plataforma para recibir comentarios, devoluciones y otras maneras de edificación colectiva, es bienvenida la contribución económica, por las vías que se ofrecen a continuación:</p>
                </div>
                
                <div class="parrafo">
                    <p>Dentro de Argentina, transferencia bancaria:</p>
                </div>
                
                <div class="datos">
                    <div><div class="label">CBU</div><div class="dato">0110127630012708897597</div></div>
                    <div><div class="label">CUIL</div><div class="dato">20XXXXX7250</div></div>
                </div>
                
                <div class="parrafo">
                    <p>Fuera de Argentina, transferencia por PayPal:</p>
                </div>
                
                <div class="datos">
                    <div class="label">Cuenta</div><div class="dato"><a href="https://paypal.me/bastianrojo">Sebastián Rojo</a></div>
                </div>
                
                <p class="firma-final">Colectivo A-Nido</p>
                
                
            
            </div>
            
            
            
            
        </div>
        
        
    </body>
</html>

