<style>

    #proximamente {
        position: absolute;
        top: 300px;
        /*grid-row: 3;*/
        width: 100%;
        justify-content: space-around;
        display: flex;
    }

    #img_anido{
        margin: auto;

        background-image: url(/static/blog/imagenes/anido.png);;
        background-size: contain;
        background-repeat: no-repeat;
    }

</style>

<div id="proximamente">

    <div id="img_anido"><image source="/static/blog/imagenes/anido.png" class="sizer" style="height: 200px; width:500px; visibility: hidden;"></image></div>

</div>