<!DOCTYPE html>
<meta charset="utf-8" />
<html>
    <head>
        <title>{{ titulo }}</title>

        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

        <link href="/static/blog/css/anido.css" rel="stylesheet">
        <link href="/static/blog/css/nocturno.css" rel="stylesheet">
        <link href="/static/blog/css/acero.css" rel="stylesheet">
        <link href="/static/blog/css/mobile.css" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/blog/imagenes/favicon.png">

    </head>

    <body>

        <div id="pag" class="container">

            {% include "blog/cabecera.html" %}

            {% include clase %}

        </div>

        <script>set_skin(cookie('skin'));</script>

    </body>
</html>
