/*@import url('letter-gothic-std');*/

@font-face {
    font-family: "letter-gothic-std";
    src: url("./letter-gothic-std/LetterGothicStd.otf");
}

@font-face {
    font-family: "DM Mono";
    src: url("./DM_Mono/DMMono-Medium.ttf");
}

@font-face {
    font-family: "Jost";
    src: url("./Jost/static/Jost-MediumItalic.ttf");
    font-style: italic, oblique;
}

@font-face {
    font-family: "Jost";
    src: url("./Jost/static/Jost-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Jost";
    src: url("./Jost/static/Jost-Medium.ttf");
}


* {
    margin:0;
    padding:0;
}



#barra {
  font-family: letter-gothic-std, monospace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vw;
  padding: 1vw 3vw;

  box-sizing: border-box;
  transition: .3s;
  z-index: 99;
  background: rgba(255,255,255,0.95);
  border-bottom: 1px solid #f797a7;

  display: flex;
  justify-content: space-between;
}

#titular{
    display: flex;
    align-items: center;
}


h1{
  letter-spacing: 0.2em;
  display: inline-block;
  transition: .3s;
}

h1 a{
  text-decoration: none;
  /*line-height: 8.5vw;*/
  color: black;
  opacity: 1;
  transition: .3s;
}

#nidito{
    background-image: url(/static/blog/imagenes/nido.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.8);

    margin: auto 0 auto 3vw;
    width: 7vw;
    height: 6vw;

    margin-right: 3vw;
    transition: .3s;
}




#barra.contraido{
  height: 5vw;
}

#barra.contraido .logo{
  height: 4vw;
  padding: 0;
}

#barra.contraido ul {
  opacity: 0;
}

#barra.contraido h1 {
  opacity: 0;
  font-size: 0em;
}










/*
 Para implementar algún día, quizás con ESDE o UPP
/*==================================================
 * Sombra de página    https://css-tricks.com/almanac/properties/b/box-shadow/
 * ===============================================
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

*/
